@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Inconsolata:wght@400;500;600;700;800;900&display=swap');

:root {
  --color-accent: #382436;
  --color-pink: #EE2C80;
  --font-primary: 'IBM Plex Sans', sans-serif;
  --font-monospace: 'Inconsolata', monospace;
}

/* Refactoring */

body,
html {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.App {
  width: 100%;
}

.header-space {
  width: 100%;
  height: 80px;
  background-color: var(--color-accent);
}


/* Components */

.btn-primary {
  background-color: var(--color-pink);
  color: #fff;
  box-shadow: 4px 4px 0 var(--color-accent);
  transition: all 0.2s;
  cursor: pointer;
  font-family: var(--font-monospace);
  font-weight: 600;
}

.btn-primary:hover {
  box-shadow: 6px 6px var(--color-accent);
  opacity: 0.80;
}

.btn-secondary {
  box-shadow: 4px 4px 0 var(--color-accent);
  background-color: #fff;
  transition: all 0.2s;
  cursor: pointer;
  font-family: var(--font-monospace);
  font-weight: 600;
}
.btn-secondary:hover {
  box-shadow: 6px 6px var(--color-accent);
  opacity: 0.80;
}