
/* General Styling */
section.s1 {
  height: calc(100vh - 80px);
  width: 100%;
  background-image: url("/bg.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.s1 .card {
  border: solid 2px var(--color-accent);
  box-shadow: 0.5rem 0.5rem var(--color-accent);
  width: 28rem;
  max-width: 80vw;
  background-color: #fff;
  padding: 2rem;
}

.card h1 {
  font-size: 2.8rem;
  font-family: var(--font-primary);
  margin: 0;
  color: var(--color-accent);
}

.card span {
  display: flex;
  margin: 0;
}

.card > h3 {
  font-family: var(--font-monospace);
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  padding-top: 1rem;
}

.card > h3 > b {
  font-weight: 900;
}

.card .prop-1 {
  position: relative;
  top: -5px;
  font-size: 14px;
  font-family: var(--font-monospace);
  background-color: #F7C947;
  box-shadow: 4px 4px #F7C947;
  margin-left: 1rem;
  transform: rotateZ(-5deg);
  text-align: center;
  padding: .6rem 0 .5rem 0;
  width: 5rem;
  border: solid 2px var(--color-accent);
  text-transform: uppercase;
}

.card .btns {
  display: flex;
  margin: 2rem 0 1rem 0;
  flex: 1;
  justify-content: center;
}

.card .btns button {
  font-family: var(--font-monospace);
  text-transform: uppercase;
  font-weight: 800;
  width: 200px;
  margin: 0 1rem 0 1rem;
  height: 2.8rem;
}

/* Small Devices */
@media screen and (max-width: 768px) { 
  .s1 .btn-secondary {
    display: none;
  }
}