.s3 {
  background-color: #00945c;
  display: flex;
  width: 100%;
  padding: 3rem;
}

.s3 .text-sec h3, .s3 .text-sec p, .s3 .text-sec h1 {
  color: white;
  margin: 1rem 0 1rem 0;
}

.accordion {
  background: #fff;
  margin: 1.5rem 0 1.5rem 0;
  border: solid 2px var(--color-accent);
  box-shadow: 6px 6px var(--color-accent);
}

.accordion .ques-container {
  display: flex;
  padding: 1rem;
  border-bottom: solid 2px var(--color-accent);
}
.accordion .ques-container h3 {
  flex: 1;
}
.accordion .ques-container .icon {
  aspect-ratio: 1 / 1;
  height: 1.2rem;
  display: flex;
  transform: rotateZ(-30deg);
  transition: transform 0.3s;
}

.accordion .ques-container .icon-open {
  transform: rotateZ(-210deg);
}

.accordion .ans-container {
    transition: transform -0.4s;
  transform: scaleY(100%);
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
}
.acc-closed .ans-container {
    transform: scaleY(0);
    height: 0;
}

.s3 .text-sec .btn-sec button {
    width: 200px;
    height: 2.8rem;
    margin: 0 1rem 1rem;
}

@media screen and (max-width: 768px) {
  .s3 {
    flex-direction: column;
  }

  .s3 .text-sec {
    width: 100%;
  }
  .s3 .text-sec .btn-sec {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .s3 .text-sec .btn-sec .btn-primary ,.s3 .text-sec .btn-sec .btn-secondary {
    width: 16rem;
  }
  .s3 .text-sec p {
    text-justify: center;
    color: wheat;
  }
}

@media screen and (min-width: 768px) {
  .s3 {
    flex-direction: row;
    padding: 5rem;
  }
  .s3 .text-sec {
    width: 50%;
  }
  .s3 .text-sec p {
    max-width: 33rem;
  }
  .s3 .accordion-container {
    width: 50%;
  }
}
