.s5 {
  width: 100%;
  padding: 5rem 1rem 5rem 1rem;
}
.s5 .blogs-container {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow-x: scroll;
}
.s5 .text-container {
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.s5 .text-container h3 , .s5 .text-container h1 {
  text-align: center;
    margin: 0;
    color: var(--color-accent);
}

.s5 .text-container h1 {
  font-size: 2.5rem;
  font-family: var(--font-primary);
}

.s5 .text-container h3 {
  font-family: var(--font-monospace);
  font-weight: 600;
  font-size: 1.5rem;
  
}

.s5 .blogs-container .blog {
  width: 20rem;
  border: 2px solid var(--color-accent);
  box-shadow: 6px 6px var(--color-accent);
  margin: 0 1rem 1rem 1rem;
}

.s5 .blogs-container .blog .thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.s5 .blogs-container .blog .about {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.s5 .blogs-container .blog .about .timestamp {
  font-size: 1.4rem;
  font-family: monospace;
  font-weight: 400;
  color: #f48285;
}

.s5 .blogs-container .blog .about .title {
  font-size: 2rem;
  font-weight: 900;
  color: var(--color-accent);
  font-family: var(--font-primary);
  margin: 0;
}

.s5 .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.s5 .btn-container .btn-primary, .s5 .btn-container .btn-secondary {
    height: 2.8rem;
    width: 200px;
    margin: 1rem 1rem 0 1rem;
}


@media screen and (max-width: 768px) {
    .s5 .blogs-container {
        flex: 1;
        align-items: center;
    }
    .s5 .btn-container {
        flex-direction: column;
    }
    .s5 .btn-container .btn-primary, .s5 .btn-container .btn-secondary {
        width: 280px;
        margin: 1rem 0 0 0;
    }
}